{
  "openapi": "3.0.0",
  "info": {
    "title": "TP Hotel",
    "version": "11.11.0"
  },
  "servers": [
    {
      "url": "https://api.pp.travelport.com/11/hotel"
    },
    {
      "url": "https://api.travelport.com/11/hotel"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/search/propertiesdetail": {
      "get": {
        "tags": [
          "Search Hotel"
        ],
        "summary": "Request hotel details",
        "description": "The optional Hotel Details request retrieves for one specified property a detailed description and additional images after a hotel search.",
        "operationId": "GetPropertiesDetail",
        "parameters": [
          {
            "name": "chainCode",
            "in": "query",
            "description": "Hotel chain code",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 5,
              "minLength": 2,
              "pattern": "([a-zA-Z0-9]{2,5})",
              "type": "string"
            },
            "example": "HL"
          },
          {
            "name": "propertyCode",
            "in": "query",
            "description": "Property code",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "name": "ImageSize",
            "in": "query",
            "description": "The size of the image to be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/ImageSizeEnum"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Successful Response - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/properties/search": {
      "post": {
        "tags": [
          "Search Hotel"
        ],
        "summary": "Search hotels by location",
        "description": "The Hotel Search by Location request searches for hotels by (a) geographic coordinate information (b) city or state/province, and country or (c) IATA airport or city code.The response returns a list of properties using the same structure as the Hotel Search by ID response.",
        "operationId": "SearchProperties",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertiesQuerySearchWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Successful Response - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/properties/precision/location": {
      "post": {
        "tags": [
          "Precision Search Hotel"
        ],
        "summary": "Search hotels by location",
        "description": "The Hotel Search by Location request searches for hotels by (a) geographic coordinate information (b) city or state/province, and country or (c) IATA airport or city code.The response returns a list of properties using the same structure as the Hotel Search by ID response.",
        "operationId": "PrecisionSearchProperties",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertiesQueryPrecisionSearchWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK - Successful Response - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/properties": {
      "post": {
        "tags": [
          "Search Hotel"
        ],
        "summary": "Search hotels by property ID",
        "description": "The Hotel Search by ID request searches for hotels by search by one or more property IDs. The response returns a list of properties based on the ID/s sent, and is the same as the Hotel Search by Location response.",
        "operationId": "Create",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertiesQuerySpecificPropertyListWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/properties/precision": {
      "post": {
        "tags": [
          "Precision Search Hotel"
        ],
        "summary": "Precision Search hotels by property ID",
        "description": "The Hotel Search by ID request searches for hotels by search by one or more property IDs. The response returns a list of properties based on the ID/s sent, and is the same as the Hotel Search by Location response.",
        "operationId": "CreatePrecision",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PropertiesQuerySpecificPrecisionPropertyListWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search/properties/{identifier}": {
      "get": {
        "tags": [
          "Search Hotel"
        ],
        "summary": "Return additional search results (pagination)",
        "description": "Hotel Search uses pagination by default. The initial search response returns 25 properties, notes the total number of properties found, and includes an identifier to be used for retrieving additional pages. Call the GET pagination endpoint to retrieve each additional page of 25 properties until the end of the list is reached.The identifier used for paging is saved for 30 minutes. A new hotel search request must be performed after it expires.",
        "operationId": "GetPropertiesPage",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "The Identifier of the Properties from which a page is to be returned",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 128,
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number to be returned",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Successful Response - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertiesResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/availability/catalogofferingshospitality": {
      "post": {
        "tags": [
          "Hotel Availability"
        ],
        "summary": "Request hotel availability",
        "description": "Hotel Availability returns room types and rates available at one or more specified properties on specified dates.",
        "operationId": "CreateHotelAvailability",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogOfferingsQueryRequestHospitalityWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogOfferingsHospitalityResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/availability/buildfromproperties": {
      "post": {
        "tags": [
          "Hotel Availability"
        ],
        "summary": "Request hotel availability from precision search response",
        "description": "Hotel Availability returns room types and rates available at one or more specified properties on specified dates.",
        "operationId": "HotelAvailabilityFromProperties",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CatalogOfferingsQueryBuildFromPropertiesWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogOfferingsHospitalityResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rules/offershospitality/buildfromcatalogoffering": {
      "post": {
        "tags": [
          "Hotel Rules"
        ],
        "summary": "Available January 2023. Build rules by referenceing availability response",
        "operationId": "BuildHotelRulesFromCatalogOffering",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferQueryBuildFromCatalogOfferingWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferHospitalityResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rules/offershospitality/buildfromrequest": {
      "post": {
        "tags": [
          "Hotel Rules"
        ],
        "summary": "Full Payload hotel rules request",
        "operationId": "CreateHotelRules",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferQueryHospitalityRequestWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferHospitalityResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/rules/offershospitality/buildfromcatalogofferings": {
      "post": {
        "tags": [
          "Hotel Rules"
        ],
        "summary": "To be deprecated and replaced with buildfromcatalogoffering",
        "operationId": "BuildFromCatalogOfferings",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          },
          {
            "name": "TravelportPlusSessionID",
            "in": "header",
            "description": "Travelport Plus Session ID used to maintain an established agency session",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 100,
              "minLength": 0,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferQueryBuildFromCatalogOfferingsHospitalityWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OfferHospitalityResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/book/reservations": {
      "post": {
        "tags": [
          "Reservation Hotel"
        ],
        "summary": "Create a reservation",
        "description": "Create a reservation on the core or with the vendor/provider.",
        "operationId": "CreateHotelReservation",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ReservationID"
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/book/reservations/build": {
      "post": {
        "tags": [
          "Reservation Hotel"
        ],
        "summary": "Single payload booking request",
        "description": "This full payload book request allows your to reference a hotel availability response and build the Reservation in a single API call.",
        "operationId": "BuildHotelReservation",
        "parameters": [
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReservationQueryBuildWrapper"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created - 201",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/book/reservations/{Identifier}": {
      "get": {
        "tags": [
          "Reservation Hotel"
        ],
        "summary": "Retrieve a Reservation",
        "description": "Retrieve details about a held booking, or PNR. While a PNR refers to a held booking that has not been ticketed, the PNR code persists after ticketing to provide the booking records. Once a PNR has been ticketed, you can still use PNR Retrieve to return both booking and ticketing details. A Ticket Display request can also be used to retrieve any ticketed itinerary.",
        "operationId": "RetrieveHotelReservation",
        "parameters": [
          {
            "name": "Identifier",
            "in": "path",
            "description": "Identifier provides the ability to create a globally unique identifier. For the identifier to be globally unique it must have a system provided identifier and the system must be identified using a global naming authority. System identification uses the domain naming system (DNS) to assure they are globally unique and should be an URL. The system provided ID will typically be a primary or surrogate key in a database.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 128,
              "type": "string"
            }
          },
          {
            "name": "detailViewInd",
            "in": "query",
            "description": "If true, ReservationDetail will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "identifierType",
            "in": "query",
            "description": "The type of identifier key used to retrieve the reservation",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/IdentifierTypeENUM"
            },
            "example": "Locator"
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Successful Response - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Reservation Hotel"
        ],
        "summary": "Update a reservation",
        "description": "The Modify Reservation request can modify an existing reservation by changing any of the following - dates, payment information, traveler first and/or last name. You can also add comments to an existing reservation. Hotel Modify can be used only for Travelport itineraries at this time. When changing dates Travelport recommends that you first send an availability request for the new dates and look for the same booking code that is on the existing reservation. An availability request is not mandatory, but a modify request will fail if the new dates are not available.",
        "operationId": "UpdateHotelReservation",
        "parameters": [
          {
            "name": "Identifier",
            "in": "path",
            "description": "Identifier provides the ability to create a globally unique identifier. For the identifier to be globally unique it must have a system provided identifier and the system must be identified using a global naming authority. System identification uses the domain naming system (DNS) to assure they are globally unique and should be an URL. The system provided ID will typically be a primary or surrogate key in a database.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 128,
              "type": "string"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ReservationID"
        },
        "responses": {
          "200": {
            "description": "OK - Successful Response - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request- 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "PaymentRequired - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/book/reservations/{reservationIdentifier}/canceloffer": {
      "put": {
        "tags": [
          "Reservation Hotel"
        ],
        "summary": "Cancel an Offer within a Reservation",
        "description": "Cancel an Offer by modifying the Reservation",
        "operationId": "CancelHotelOffer",
        "parameters": [
          {
            "name": "reservationIdentifier",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 128,
              "type": "string"
            }
          },
          {
            "name": "supplierLocator",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "name": "offerID",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TraceId",
            "in": "header",
            "description": "Identifier used to correlate API invocations across long-running or multi-call business flows.",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 89,
              "minLength": 10,
              "pattern": "(^[a-zA-Z-0-9_]*[-]?[+]?$)",
              "type": "string"
            }
          },
          {
            "name": "XAUTH_TRAVELPORT_ACCESSGROUP",
            "in": "header",
            "description": "Identifies the Travelport access group with which the caller is associated",
            "required": false,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 36,
              "minLength": 36,
              "pattern": "([a-zA-Z-0-9-_]*)",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Successful Response - 200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponseWrapper"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required - 402",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - 403",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ImageSizeEnum": {
        "type": "string",
        "description": "Indicates the size of the image. Hospitality APIs no longer support thumbnail",
        "enum": [
          "Large",
          "Medium",
          "Small",
          "Thumbnail",
          "ExtraLarge"
        ]
      },
      "PropertiesResponseWrapper": {
        "properties": {
          "PropertiesResponse": {
            "$ref": "#/components/schemas/PropertiesResponse"
          }
        }
      },
      "PropertiesResponse": {
        "properties": {
          "Properties": {
            "$ref": "#/components/schemas/Properties"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseResponse"
          }
        ]
      },
      "BaseResponse": {
        "properties": {
          "transactionId": {
            "type": "string",
            "description": "Unique transaction, correlation or tracking id for a single request and reply i.e. for a single transaction. Should be a 128 bit GUID format. Also know as E2ETrackingId."
          },
          "traceId": {
            "type": "string",
            "description": "Optional ID for internal child transactions created for processing a single request (single transaction). Should be a 128 bit GUID format. Also known as ChildTrackingId."
          },
          "Result": {
            "$ref": "#/components/schemas/Result"
          },
          "Identifier": {
            "$ref": "#/components/schemas/Identifier"
          },
          "NextSteps": {
            "$ref": "#/components/schemas/NextSteps"
          },
          "ReferenceList": {
            "maxItems": 5,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferenceList"
            }
          },
          "CurrencyRateConversion": {
            "maxItems": 5,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurrencyRateConversion"
            }
          }
        }
      },
      "Result": {
        "properties": {
          "@type": {
            "type": "string",
            "default": "Result"
          },
          "status": {
            "$ref": "#/components/schemas/ResultStatusEnum"
          },
          "Error": {
            "maxItems": 50,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "Warning": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Warning"
            }
          }
        }
      },
      "ResultStatusEnum": {
        "type": "string",
        "description": "The status of an error or warning",
        "enum": [
          "Not processed",
          "Incomplete",
          "Complete",
          "Unknown"
        ]
      },
      "Error": {
        "required": [
          "@type"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "example": "Error"
          },
          "StatusCode": {
            "type": "integer",
            "description": "Http standard response code",
            "format": "int32"
          },
          "Message": {
            "maxLength": 4096,
            "type": "string",
            "description": "The Travelport standardized error or warning message"
          },
          "NameValuePair": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NameValuePair"
            }
          }
        },
        "discriminator": {
          "propertyName": "@type"
        }
      },
      "NameValuePair": {
        "required": [
          "name"
        ],
        "properties": {
          "value": {
            "maxLength": 512,
            "type": "string",
            "example": "Sunday"
          },
          "id": {
            "type": "string",
            "description": "Optional internally referenced id",
            "example": "6"
          },
          "name": {
            "maxLength": 512,
            "type": "string",
            "description": "Key",
            "example": "Day1"
          }
        },
        "description": "Used for data stored in Name Value pairs"
      },
      "Warning": {
        "required": [
          "@type"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "example": "Error"
          },
          "StatusCode": {
            "type": "integer",
            "description": "Http standard response code",
            "format": "int32"
          },
          "Message": {
            "maxLength": 4096,
            "type": "string",
            "description": "The Travelport standardized error or warning message"
          },
          "NameValuePair": {
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NameValuePair"
            }
          }
        },
        "discriminator": {
          "propertyName": "@type"
        }
      },
      "Identifier": {
        "properties": {
          "value": {
            "maxLength": 128,
            "type": "string",
            "example": "A0656EFF-FAF4-456F-B061-0161008D7C4E"
          },
          "authority": {
            "maxLength": 128,
            "type": "string",
            "description": "Name of the authoritative system that created this Guid",
            "example": "TVPT"
          }
        },
        "description": "Identifier provides the ability to create a globally unique identifier. For the identifier to be globally unique it must have a system provided identifier and the system must be identified using a global naming authority. System identification uses the domain naming system (DNS) to assure they are globally unique and should be an URL. The system provided ID will typically be a primary or surrogate key in a database."
      },
      "NextSteps": {
        "required": [
          "NextStep",
          "baseURI"
        ],
        "properties": {
          "baseURI": {
            "type": "string",
            "description": "The base portion of the uri in order to shorten the uri's in the individual steps"
          },
          "id": {
            "type": "string",
            "description": "Optional internally referenced id",
            "example": "5"
          },
          "NextStep": {
            "maxItems": 20,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NextStep"
            }
          }
        }
      },
      "NextStep": {
        "required": [
          "action",
          "method"
        ],
        "properties": {
          "value": {
            "type": "string",
            "example": "www.resourcelocation.com"
          },
          "id": {
            "type": "string",
            "description": "Identifier for the Next Step",
            "example": "2"
          },
          "action": {
            "maxLength": 32,
            "type": "string",
            "description": "The action this next step is intended to achieve",
            "example": "cancel"
          },
          "method": {
            "$ref": "#/components/schemas/NextStepMethodEnum"
          },
          "description": {
            "maxLength": 32,
            "type": "string",
            "description": "Additional clarification for the next step",
            "example": "remove offer from the order"
          }
        },
        "description": "A URL that describes a step that can be applied to the resource containing the next step structure."
      },
      "NextStepMethodEnum": {
        "type": "string",
        "description": "Describes the set of potential methods that can be taken after an operation.",
        "enum": [
          "GET",
          "DELETE",
          "PUT",
          "POST"
        ]
      },
      "ReferenceList": {
        "required": [
          "@type"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "example": "ReferenceListFlight"
          },
          "id": {
            "type": "string",
            "description": "Uniquely identifies for the Reference List"
          }
        },
        "discriminator": {
          "propertyName": "@type"
        }
      },
      "CurrencyRateConversion": {
        "required": [
          "ConversionRate",
          "SourceCurrency",
          "TargetCurrency"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "default": "CurrencyRateConversion"
          },
          "SourceCurrency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "TargetCurrency": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "ConversionRate": {
            "$ref": "#/components/schemas/ConversionRate"
          }
        }
      },
      "CurrencyCode": {
        "properties": {
          "value": {
            "pattern": "[a-zA-Z]{3}",
            "type": "string",
            "example": "USD"
          },
          "codeAuthority": {
            "maxLength": 32,
            "type": "string",
            "description": "Currency code authority",
            "example": "ISO 4217"
          },
          "decimalPlace": {
            "minimum": 0,
            "exclusiveMinimum": false,
            "pattern": "([0-4])",
            "type": "integer",
            "description": "Currency code decimal place",
            "format": "int32",
            "example": 4
          },
          "decimalAuthority": {
            "maxLength": 32,
            "type": "string",
            "description": "Currency code decimal authority",
            "example": "ISO 4217"
          }
        },
        "description": "Currency codes are the three-letter alphabetic codes that represent the various currencies used throughout the world."
      },
      "ConversionRate": {
        "properties": {
          "value": {
            "type": "number",
            "format": "float"
          },
          "rateAuthority": {
            "maxLength": 32,
            "type": "string",
            "description": "Rate authority",
            "example": "ISO 4217"
          },
          "rateAsOf": {
            "type": "string",
            "description": "Rate as of",
            "format": "date-time"
          }
        },
        "description": "A conversion metric from standard to another with the contextual authority such as IATA, OAG, ISO, etc."
      },
      "Properties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PropertiesID"
          },
          {
            "required": [
              "PropertyInfo"
            ],
            "properties": {
              "totalProperties": {
                "type": "integer",
                "description": "Total number or properties returned for the request",
                "format": "int32"
              },
              "propertiesPerPage": {
                "type": "integer",
                "description": "Number of properties per page",
                "format": "int32"
              },
              "PropertyInfo": {
                "maxItems": 1000,
                "minItems": 1,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PropertyInfo"
                }
              }
            }
          }
        ]
      },
      "PropertiesID": {
        "required": [
          "@type"
        ],
        "properties": {
          "@type": {
            "type": "string"
          },
          "Identifier": {
            "$ref": "#/components/schemas/Identifier"
          }
        },
        "discriminator": {
          "propertyName": "@type"
        }
      },
      "PropertyInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PropertyInfoID"
          },
          {
            "required": [
              "Distance",
              "LowestAvailableRate",
              "Property"
            ],
            "properties": {
              "availability": {
                "$ref": "#/components/schemas/AvailabilityStatusEnum"
              },
              "Distance": {
                "$ref": "#/components/schemas/Distance"
              },
              "Property": {
                "$ref": "#/components/schemas/PropertyDetail"
              },
              "LowestAvailableRate": {
                "$ref": "#/components/schemas/CurrencyAmount"
              },
              "NextSteps": {
                "$ref": "#/components/schemas/NextSteps"
              },
              "featuredPropertyInd": {
                "type": "boolean",
                "description": "If present and true then this property was added to the list based on criteria other than those in the request"
              },
              "MaximumAvailableRate": {
                "$ref": "#/components/schemas/MaximumAvailableRate"
              }
            }
          }
        ]
      },
      "PropertyInfoID": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "Identifier": {
            "$ref": "#/components/schemas/Identifier"
          }
        }
      },
      "AvailabilityStatusEnum": {
        "type": "string",
        "description": "Identifies the availability status of an item.",
        "enum": [
          "Open",
          "Close",
          "ClosedOnArrival",
          "ClosedOnArrivalOnRequest",
          "OnRequest",
          "RemoveCloseOnly",
          "Other"
        ]
      },
      "Distance": {
        "properties": {
          "value": {
            "type": "number",
            "description": "When using distance as a property search parameter, the maximum distance is 25 regardless of unit of distance",
            "format": "int32",
            "example": 25
          },
          "unitOfDistance": {
            "$ref": "#/components/schemas/UnitOfDistanceEnum"
          }
        },
        "description": "A search radius"
      },
      "UnitOfDistanceEnum": {
        "type": "string",
        "description": "Miles, Kilometers, etc.",
        "enum": [
          "Miles",
          "Kilometers"
        ]
      },
      "PropertyDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Property"
          },
          {
            "properties": {
              "classTypeCode": {
                "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
                "type": "string",
                "description": "The OTA code of the property detail"
              },
              "segmentCatagoryCode": {
                "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
                "type": "string",
                "description": "Segment category code"
              },
              "locationCatagoryCode": {
                "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
                "type": "string",
                "description": "Location category code"
              },
              "complimentaryParking": {
                "$ref": "#/components/schemas/YesNoUnknownEnum"
              },
              "Address": {
                "$ref": "#/components/schemas/Address"
              },
              "Telephone": {
                "maxItems": 5,
                "minItems": 1,
                "type": "array",
                "items": {
                  "maxLength": 128,
                  "type": "string"
                }
              },
              "PropertyAmenity": {
                "maxItems": 250,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PropertyAmenity"
                }
              },
              "PetPolicy": {
                "$ref": "#/components/schemas/PetPolicy"
              },
              "Restaurant": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Restaurant"
                }
              },
              "Attraction": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Attraction"
                }
              },
              "DrivingDirections": {
                "$ref": "#/components/schemas/TextFree"
              },
              "MeetingRooms": {
                "$ref": "#/components/schemas/MeetingRooms"
              },
              "VirtualTour": {
                "$ref": "#/components/schemas/VirtualTour"
              },
              "CheckInOutPolicy": {
                "$ref": "#/components/schemas/CheckInOutPolicy"
              }
            }
          }
        ]
      },
      "Property": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PropertyID"
          },
          {
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "maxLength": 128,
                "type": "string",
                "description": "The property name"
              },
              "Rating": {
                "maxItems": 5,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Rating"
                }
              },
              "GeoLocation": {
                "$ref": "#/components/schemas/GeoLocation"
              },
              "Image": {
                "maxItems": 10,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Image"
                }
              },
              "Description": {
                "maxItems": 5,
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "BusinessService": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Service"
                }
              },
              "AccessibilityFeature": {
                "maxItems": 25,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OTA_CodeWithDescription"
                }
              },
              "GuestRoomInfo": {
                "maxItems": 100,
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GuestRoomInfo"
                }
              }
            }
          }
        ]
      },
      "PropertyID": {
        "required": [
          "@type",
          "PropertyKey"
        ],
        "properties": {
          "@type": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "Local reference id."
          },
          "Identifier": {
            "$ref": "#/components/schemas/Identifier"
          },
          "PropertyKey": {
            "$ref": "#/components/schemas/PropertyKey"
          }
        },
        "discriminator": {
          "propertyName": "@type"
        }
      },
      "PropertyKey": {
        "required": [
          "chainCode",
          "propertyCode"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "default": "PropertyKey"
          },
          "chainCode": {
            "maxLength": 5,
            "minLength": 2,
            "pattern": "([a-zA-Z0-9]{2,5})",
            "type": "string",
            "description": "Chain code for the property.",
            "example": "HL"
          },
          "propertyCode": {
            "maxLength": 32,
            "type": "string",
            "description": "Code for the property within the hotel chain."
          }
        }
      },
      "Rating": {
        "properties": {
          "value": {
            "type": "number",
            "description": "Rating used to classify hotels according to the quality",
            "format": "float",
            "example": 5
          },
          "provider": {
            "maxLength": 32,
            "type": "string",
            "description": "The provider who has granted the quality rating",
            "example": "AA"
          }
        },
        "description": "The actual award or rating received by the facility."
      },
      "GeoLocation": {
        "required": [
          "latitude",
          "longitude"
        ],
        "properties": {
          "latitude": {
            "type": "number",
            "description": "The measure of the angular distance on a meridan north or south equator",
            "format": "double",
            "example": 38.8951
          },
          "longitude": {
            "type": "number",
            "description": "The measure of the angular distance on a meridan east or west equator",
            "format": "double",
            "example": -77.0364
          },
          "altitude": {
            "type": "number",
            "description": "The height or an item, typically measured above sea level",
            "format": "float",
            "example": 5280
          },
          "altitudeUnitOfDistance": {
            "$ref": "#/components/schemas/UnitOfDistanceEnum"
          },
          "positionAccuracy": {
            "$ref": "#/components/schemas/PositionAccuracyEnum"
          },
          "mapURL": {
            "type": "string",
            "description": "link for embedded map showing location",
            "example": "www.destinationmap.com"
          },
          "formatURL": {
            "type": "string",
            "description": "The URL to the format for the latitude and longitude for this location.",
            "example": "www.destinationmap.com"
          }
        },
        "description": "Used to specify the geographic coordinates of a location"
      },
      "PositionAccuracyEnum": {
        "type": "string",
        "description": "Specifies the level of accuracy for the position",
        "enum": [
          "Zip9Code",
          "Zip7Code",
          "Zip5Code",
          "Street",
          "State",
          "Property",
          "Intersection",
          "Exact",
          "County",
          "City",
          "Block"
        ]
      },
      "Image": {
        "properties": {
          "value": {
            "type": "string"
          },
          "dimensionCategory": {
            "maxLength": 1,
            "type": "string",
            "description": "Deprecated and replaced by Image Size"
          },
          "width": {
            "type": "integer",
            "description": "Width of image",
            "format": "int32",
            "example": 42
          },
          "height": {
            "type": "integer",
            "description": "Height",
            "format": "int32",
            "example": 43
          },
          "caption": {
            "maxLength": 128,
            "type": "string",
            "description": "Image title",
            "example": "Ticket"
          },
          "pictureCategory": {
            "type": "integer",
            "description": "deprecated and replaced by pictureOf",
            "format": "int32",
            "example": 5
          },
          "imageSize": {
            "$ref": "#/components/schemas/ImageSizeEnum"
          },
          "pictureOf": {
            "$ref": "#/components/schemas/PictureofEnum"
          }
        },
        "description": "URL of the image"
      },
      "PictureofEnum": {
        "type": "string",
        "example": "Lobby",
        "enum": [
          "Exterior",
          "Lobby",
          "Pool",
          "Restaurant",
          "HealthClub",
          "GuestRoom",
          "Suite",
          "ConferenceRoom",
          "Ballroom",
          "Golf",
          "Beach",
          "Spa",
          "Bar",
          "Recreational",
          "RoomAmenity",
          "PopertyAmenity",
          "BusinessCentre"
        ]
      },
      "Service": {
        "properties": {
          "code": {
            "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
            "type": "string",
            "description": "OTA code for this service type."
          },
          "description": {
            "maxLength": 128,
            "type": "string",
            "description": "Description of the service"
          },
          "proximityCode": {
            "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
            "type": "string",
            "description": "Proximity code"
          },
          "existsInd": {
            "type": "boolean",
            "description": "If present and true this service exists"
          },
          "includedInd": {
            "type": "boolean",
            "description": "If present and true this service is included with no charge"
          }
        },
        "description": "A business service offered by the property"
      },
      "OTA_CodeWithDescription": {
        "properties": {
          "value": {
            "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
            "type": "string"
          },
          "description": {
            "maxLength": 128,
            "type": "string",
            "description": "OTA code description"
          }
        },
        "description": "code"
      },
      "GuestRoomInfo": {
        "properties": {
          "@type": {
            "type": "string",
            "example": "GuestRoomInfo"
          },
          "code": {
            "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
            "type": "string",
            "description": "OTA code for this room type."
          },
          "number": {
            "type": "integer",
            "description": "Number of guest rooms with the guest room code.",
            "format": "int32"
          },
          "description": {
            "maxLength": 128,
            "type": "string",
            "description": "description of the guest room code."
          }
        }
      },
      "YesNoUnknownEnum": {
        "type": "string",
        "description": "Yes , No , Unknown",
        "enum": [
          "Yes",
          "No",
          "Unknown"
        ]
      },
      "Address": {
        "required": [
          "@type",
          "City"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "example": "AddressDetail"
          },
          "id": {
            "type": "string",
            "description": "Internally referenced id",
            "example": "Address_1"
          },
          "BldgRoom": {
            "$ref": "#/components/schemas/AddressBldgRoom"
          },
          "Number": {
            "$ref": "#/components/schemas/AddressStreetNumber"
          },
          "Street": {
            "maxLength": 128,
            "type": "string",
            "description": "May contain the street number when the Street number element is missing.",
            "example": "ABC Street"
          },
          "AddressLine": {
            "maxItems": 3,
            "type": "array",
            "description": "Additional address line details",
            "example": "S Havana,Opposite to USPS",
            "items": {
              "maxLength": 128,
              "type": "string"
            }
          },
          "City": {
            "maxLength": 128,
            "type": "string",
            "description": "City (e.g., Dublin), town, or postal station (i.e., a postal service territory, often used in a military address).",
            "example": "Windsor"
          },
          "County": {
            "maxLength": 128,
            "type": "string",
            "description": "County or Region Name (e.g., Fairfax).",
            "example": "Berkshire"
          },
          "StateProv": {
            "$ref": "#/components/schemas/StateProv"
          },
          "Country": {
            "$ref": "#/components/schemas/Country"
          },
          "PostalCode": {
            "maxLength": 128,
            "type": "string",
            "description": "Post Office Code number.",
            "example": "Sl6 1AB"
          },
          "Addressee": {
            "maxLength": 37,
            "type": "string",
            "description": "The name of the company or person to be addressed"
          },
          "role": {
            "$ref": "#/components/schemas/Enum_AddressRole"
          }
        },
        "discriminator": {
          "propertyName": "@type"
        }
      },
      "AddressBldgRoom": {
        "properties": {
          "value": {
            "maxLength": 128,
            "type": "string",
            "example": "Moore House, Room 101, 23 ABC Street, Windsor, Berkshire, United Kingdom, SL6 51A"
          },
          "buldingInd": {
            "type": "boolean",
            "description": "When true, the information is a building name. When false, it is an apartment or room #",
            "example": true
          }
        },
        "description": "Address with building and room number"
      },
      "AddressStreetNumber": {
        "properties": {
          "value": {
            "maxLength": 128,
            "type": "string",
            "example": "23B ABC Street, Windsor, Berkshire, United Kingdom, SL6 51A"
          },
          "streetNmbrSuffix": {
            "maxLength": 32,
            "type": "string",
            "description": "Street Number Suffix",
            "example": "B"
          },
          "streetDirection": {
            "maxLength": 32,
            "type": "string",
            "description": "Dircetion of the Street",
            "example": "NW"
          },
          "ruralRouteNmbr": {
            "pattern": "[0-9]{1,5}",
            "type": "string",
            "description": "RuralRoute Number",
            "example": "76"
          },
          "po_Box": {
            "maxLength": 128,
            "type": "string",
            "description": "PO Box Number",
            "example": "1001"
          }
        },
        "description": "The street number alone is the numerical number that precedes the street name in the address"
      },
      "StateProv": {
        "properties": {
          "value": {
            "maxLength": 8,
            "minLength": 2,
            "type": "string",
            "example": "CA"
          },
          "name": {
            "maxLength": 512,
            "type": "string",
            "description": "State,province or region name or code needed to identify location",
            "example": "California"
          }
        },
        "description": "The standard code or abbreviation for the state, province, or region with optional name"
      },
      "Country": {
        "properties": {
          "value": {
            "pattern": "[a-zA-Z]{2}",
            "type": "string",
            "example": "USA"
          },
          "id": {
            "type": "string",
            "description": "Use this id to internally identify this country in NextSteps",
            "example": "23"
          },
          "name": {
            "maxLength": 128,
            "type": "string",
            "description": "The name or code of a country",
            "example": "United States"
          },
          "codeContext": {
            "maxLength": 32,
            "type": "string",
            "description": "The source of a code",
            "example": "IATA"
          }
        },
        "description": "ISO 3166 code for a country with optional name"
      },
      "Enum_AddressRole": {
        "type": "string",
        "example": "Delivery",
        "enum": [
          "Home",
          "Business",
          "Mailing",
          "Delivery",
          "Destination",
          "Other",
          "Billing"
        ]
      },
      "PropertyAmenity": {
        "properties": {
          "@type": {
            "type": "string",
            "example": "PropertyAmenity"
          },
          "description": {
            "maxLength": 512,
            "type": "string",
            "description": "Type of amenity."
          },
          "location": {
            "maxLength": 32,
            "type": "string",
            "description": "Location of the property"
          },
          "Name": {
            "maxLength": 32,
            "type": "string",
            "description": "Name of the property"
          },
          "OperationTimes": {
            "$ref": "#/components/schemas/OperationTimes"
          },
          "Inclusion": {
            "maxItems": 10,
            "type": "array",
            "items": {
              "maxLength": 32,
              "type": "string"
            }
          },
          "includedInd": {
            "type": "boolean",
            "description": "To represent if the Amenity is included in the rate"
          },
          "surchargeInd": {
            "type": "boolean",
            "description": "To represent if the Amenity attracts a surcharge"
          },
          "code": {
            "pattern": "[0-9A-Z]{1,3}(\\\\.[A-Z]{3}(\\\\.X){0,1}){0,1}",
            "type": "string",
            "description": "OTA code used to describe the property amenity."
          }
        }
      },
      "OperationTimes": {
        "properties": {
          "@type": {
            "type": "string",
            "default": "OperationTimes"
          },
          "daysOfWeek": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DayOfWeekEnum"
            }
          },
          "openTime": {
            "type": "string",
            "example": "45900"
          },
          "closeTime": {
            "type": "string",
            "example": "06:00:00"
          }
        }
      },
      "DayOfWeekEnum": {
        "type": "string",
        "description": "The names of the days of the week.",
        "enum": [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"
        ]
      },
      "PetPolicy": {
        "required": [
          "allowed"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "example": "PetPolicy"
          },
          "allowed": {
            "$ref": "#/components/schemas/YesNoUnknownEnum"
          },
          "policyCode": {
            "pattern": "[0-9A-Z]{1,3}(\\.[A-Z]{3}(\\.X){0,1}){0,1}",
            "type": "string",
            "description": "Pet policy code"
          },
          "Description": {
            "$ref": "#/components/schemas/TextTitleAndDescription"
          }
        }
      },
      "TextTitleAndDescription": {
        "properties": {
          "value": {
            "maxLength": 4096,
            "type": "string",
            "example": "Ticket exchanged"
          },
          "languages": {
            "type": "array",
            "description": "Language of the text",
            "items": {
              "type": "string",
              "example": "English"
            }
          },
          "title": {
            "maxLength": 512,
            "type": "string",
            "description": "Title of the Text",
            "example": "Group details."
          }
        },
        "description": "Descriptive text"
      },
      "Restaurant": {
        "required": [
          "name"
        ],
        "properties": {
          "@type": {
            "type": "string",
            "example": "Restaurant"
          },
          "name": {
            "maxLength": 128,
            "type": "string",
            "description": "The name of the restaurant"
          },
          "cuisineCodes": {
            "type": "array",
[...]
